@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'), 
       url('../fonts/gilroyextrabold.woff') format('woff'),
       url('../fonts/gilroy/Gilroyextrabold.ttf') format('ttf');
       font-weight: 800;
       font-style: normal;
   }

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'), 
       url('../fonts/gilroylight.woff') format('woff'),
       url('../fonts/gilroy/Gilroylight.ttf') format('ttf');
       font-weight: 300;
       font-style: normal;
   }

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/opensans.woff2') format('woff2'), 
       url('../fonts/opensans.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf') format('ttf');
       font-weight: 400;
       font-style: normal;
   }

 @font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'), 
       url('../fonts/opensanslight.woff') format('woff'),
       url('../fonts/OpenSans-Light.ttf') format('ttf');
       font-weight: 300;
       font-style: normal;
   }

   body {
   	margin: 0;
   	padding: 0;

   	font-family: 'Open-Sans', Arial, sans-serif;
   	font-size: 15px;
   	line-height: 30px;
   	font-weight: 400;
    color: #464646;

    background-color: #ffffff;
   }

   a {
   	text-decoration: none;
   }

   .main-navigation {
   	color: #000000;
   	background-color: #f7e296;
   }

   .user-navigation,
   .site-navigation,
   .catalog-menu-navigation {
   	list-style: none;
   }

   .user-navigation a,
   .site-navigation a {
   	color: #000000;
   }

   .user-navigation a:hover,
   .user-navigation a:focus,
   .site-navigation a:hover,
   .site-navigation a:focus,
   .logo a:hover,
   .logo a:focus {
   	color: rgba(0, 0, 0, 0.6);
   }

   .user-navigation a:active,
   .site-navigation a:active,
   .logo a:active {
   	color: rgba(0, 0, 0, 0.3);
   }
   
   .user-navigation-search a,
   .user-navigation-out a {
   	color: rgba(0, 0, 0, 0.3);
   }

   .user-navigation-search a:hover;
   .user-navigation-search a:focus {
   	color: rgba(0, 0, 0, 0.6);
   }
   
   .logo {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 48px;
   	line-height: 48px;
   	font-weight: 800;
   	text-transform: uppercase;
   }

   .logo-main a:hover,
   .logo-main a:focus,
   .logo-main a:active {
   	color: #000000;
   }

   .search a {
   	color: rgba(0, 0, 0, 0.3);
   }

   .search a:hover,
   .search a:focus {
   	color: rgba(0, 0, 0, 0.6);
   }

   .site-navigation a,
   .slider-item a {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   	text-transform: uppercase;
   }

   .catalog-menu-navigation a {
   	font-family: 'Open-Sans', Arial, sans-serif;
   	font-size: 15px;
   	line-height: 36px;
   	font-weight: 400;
   	text-transform: none;
   }

   .slider-list {
   	list-style: none;
   }

   .slider-item span {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 179.2px;
   	line-height: 179.2px;
   	font-weight: 800;
   	color: #000000;
   }

   .slider-item h2 {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 47px;
   	line-height: 56px;
   	font-weight: 800;
    color: #000000;
   }

   .value {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 36px;
   	line-height: 48px;
   	font-weight: 300;
   	color: #000000;
   }

   .options {
   	font-family: 'Open-Sans', Arial, sans-serif;
   	font-size: 13px;
   	line-height: 20px;
   	font-weight: 300;
   	color: #464646;
   }

   .popular-list {
   	list-style: none;
   }

   .popular-list a {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   	color: #000000;
   }

   .slider-item a {
   	color: #000000;
   }

   .slider-item a:active,
   .popular-list a:active {
   	color: rgba(0, 0, 0, 0.3);
   }

   .services {
   	background-color: #e5e5e5;
   }

   .services-button {
   	list-style: none;
   }

   .services-button button {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;

   	text-align: center;
   	vertical-align: middle;
   	color: #000000;
   	background-color: #e5e5e5;
   	text-transform: uppercase;
   	border: none;
   }

   .services-button button:active {
   	color: #f7e184;
   }

   .services-item h3,
   .about-us h2,
   .contacts h2 {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 47px;
   	line-height: 48px;
   	font-weight: 800;
   	color: #000000;
   }

   .partners-list {
   	list-style: none;     
   }

   .about-us-list {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 16px;
   	line-height: 40px;
   	font-weight: 800;
   	color: #000000;
   }

   .about-us a,
   .contacts a {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   	text-transform: uppercase;
   	color: #000000;
   }

   .about-us a:active,
   .contacts a:active {
   	color: rgba(0, 0, 0, 0.3);
   }

   .footer {
   	color: #ffffff;
   	background-color: #464646;
   }

   .logo-footer {
   	color: #ffc600;
   }

   .logo-footer a:hover,
   .logo-footer a:focus,
   .logo-footer a:active {
   	color: #ffc600;
   }

   .footer-list,
   .user-navigation,
   .social-button-list,
   .user-navigation-footer {
   	list-style: none;
   }

   .footer-list a {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   	text-transform: uppercase;
   	color: #ffffff;
   }

   .social-button-list a {
   	color: rgba(255, 255, 255, 0.3);
   }

   .social-button-list a:hover,
   .social-button-list a:focus {
   	color: rgba(255, 255, 255, 0.6);
   }

   .social-button-list a:active {
   	color: rgba(255, 255, 255, 0.1);
   }

   .footer-list a:hover,
   .footer-list a:focus {
   	color: rgba(255, 255, 255, 0.6);
   }

   .footer-list a:active {
   	color: rgba(255, 255, 255, 0.3);
   }

   .user-navigation-footer a {
   	color: rgba(255, 255, 255, 0.7);
   	line-height: 36px;
   }

   .user-navigation-footer a:hover,
   .user-navigation-footer a:focus {
   	color: #ffffff;
   }

   .user-navigation-footer a:active {
   	color: rgba(255, 255, 255, 0.3);
   }

   .user-navigation-footer-out a {
   	color: rgba(255, 255, 255, 0.3);
   }

   a.logo-academy {
   	color: #ffc600;
   }

   a.logo-academy:hover,
   a.logo-academy:focus {
   	color: rgba(255, 198, 0, 0.6);
   }

   a.logo-academy:active {
   	color: rgba(255, 198, 0, 0.3);
   }

   .modal {
   	color: #000000;
   	background-color: #ffffff;
   }

   .modal label {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   	color: #000000;
   }

   .modal-form-send input[type="text"],
   .modal-form-send input[type="email"],
   .modal-form-send textarea {
   	font-family: 'Open-Sans', Arial, sans-serif;
   	font-size: 14px;
   	line-height: 18px;
   	font-weight: 400;
   	color: rgba(70, 70, 70, 0.4);
   	background-color: #f2f2f2;
   	border: none;
   }

   .modal-form-send input:hover,
   .modal-form-send textarea:hover {
   	background-color: #eaeaea;
   }

   .modal-form-send input:focus,
   .modal-form-send textarea:focus {
   	background-color: #ffffff;
   	border: 3px solid #f7e296;
   }

   .modal button {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;

   	text-align: center;
   	vertical-align: middle;
   	color: #000000;
   	background-color: #ffffff;
   	text-transform: uppercase;
   	border: none;
   }

   .modal button:active {
   	color: rgba(0, 0, 0, 0.3);
   }

   .logo-catalog a {
   	color: #000000;
   }

   .container {
   	font-family: 'Open-Sans', Arial, sans-serif;
   	color: #000000;
   }

   .container h1 {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 47px;
   	line-height: 48px;
   	font-weight: 800;
   }

   .breadcrumbs {
   	list-style: none;
   }

   .breadcrumbs a,
   .breadcrumbs-current {
   	color: rgba(0, 0, 0, 0.3);
   }

   .breadcrumbs a:hover,
   .breadcrumbs a:focus {
   	color: rgba(0, 0, 0, 0.6);
   }

   .breadcrumbs a:active {
   	color: rgba(0, 0, 0, 0.1);
   }

   .aside {
   	background-color: #efefef;
   }

   .aside h3 {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 16px;
   	line-height: 24px;
   	font-weight: 800;
   	text-transform: uppercase;
   }

   .filter fieldset {
   	border: none;
   }

   .filter legend {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   }

   .filter ul {
   	list-style: none;
   }

   .filter label {
   	font-weight: 300;
   }

   .filter-input:hover,
   .filter-input:focus {
    color: #606060;
   }

   .filter-input:active {
   	color: #000000;
   }

   .filter-input:disabled + label {
    color: #b3b3b3;
   }

   .filter button {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   	text-transform: uppercase;

   	text-align: center;
   	vertical-align: middle;
   	background-color: #efefef;
   	border: none;
   }

   .assortment {
   	font-size: 14px;
   	line-height: 18px;
   	font-weight: 400;
   	color: rgba(0, 0, 0, 0.3);
   }

   .assortment h3 {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 16px;
   	line-height: 24px;
   	font-weight: 800;
   	text-transform: uppercase;
   	color: #000000;
   }

   .assortment-list,
   .assortment-switches {
   	list-style: none;
   }

   .assortment-list a,
   .assortment-switches a {
   	color: rgba(0, 0, 0, 0.3);
   }

   .assortment-list a:hover,
   .assortment-switches a:hover {
   	color: rgba(0, 0, 0, 0.6);
   }

   .assortment-list a:active,
   .assortment-switches a:active,
   .assortment-current a {
   	color: #000000;
   }

   .catalog-list {
   	list-style: none;
   }

   .catalog-list h1 {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   }

   .catalog-list-item a {
   	color: #000000;
   }

   .catalog-list-item span {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 16px;
   	line-height: 24px;
   	font-weight: 300;
   	color: #464646;
   }

   .catalog-item-hover a {
   	font-family: 'Open-Sans', Arial, sans-serif;
   	font-size: 13px;
   	line-height: 36px;
   	font-weight: 300;
   	color: rgba(0, 0, 0, 0.5);
   }

   .catalog-item-hover a:hover {
   	color: #000000;
   }

   .catalog-item-hover a:active {
   	color: rgba(0, 0, 0, 0.2);
   }

   .catalog-item-hover .button {
   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 18px;
   	line-height: 24px;
   	font-weight: 800;
   	color: #000000;
   	text-transform: uppercase;
   }

   .catalog-item-hover .button:active {
   	color: rgba(0, 0, 0, 0.3);
   }

   .pagination-list {
   	list-style: none;
   	background-color: #ebebeb;

   	font-family: 'Gilroy', Verdana, sans-serif;
   	font-size: 16px;
   	line-height: 24px;
   	font-weight: 800;
   	text-transform: uppercase;
   }

   .pagination-item-button a,
   .pagination-item-current a {
   	color: #000000;
   }

   .pagination-item a {
   	color: rgba(0, 0, 0, 0.3);
   }

   .pagination-item a:hover,
   .pagination-item a:focus {
   	color: rgba(0, 0, 0, 0.6);
   }

   .pagination-item a:active {
   	color: #000000;
   }

   .logo-footer-catalog a {
   	color: #ffc600;
   }

   .logo-footer-catalog a:hover,
   .logo-footer-catalog a:focus {
   	color: rgba(255, 198, 0, 0.6);
   }

   .logo-footer-catalog a:active {
   	color: rgba(255, 198, 0, 0.3);
   }

/*Сеточные стили*/

html,
body {
	padding: 0;
	margin: 0;
}

.main-header {
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 105px;
	padding: 0 20px;
}

.main-navigation {
	padding: 0 60px;
	margin: 0;	
	display: flex;
	flex-direction: column;
}

.logo-main {
	padding: 0;
	padding-bottom: 35px;
	margin: 0;
}

.user-navigation {
	margin: 0;
	padding: 0;
	padding-bottom: 47px;
	display: flex;
	justify-content: space-between;
}

.site-navigation {
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

.slider {
	margin: 0;
	padding: 0 60px;
}

.slider-item {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.slider-item .header-container {
	width: 500px;
	display: flex;
	flex-direction: column; 
}

.slider-list {
	display: flex;
}

.container {
	margin: 0;
	padding: 0;
}

.popular {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	padding-bottom: 80px;
}

.popular-list {
	display: flex;
	justify-content: space-between;	
}

.popular-list li {
	width: 160px;
}

.services {
	min-width: 1200px;        
    width: 100%; 
    
	margin: 0;
	padding: 0;
	padding-bottom: 70px;
}

.services-container {
	width: 1200px;
	padding: 0 20px;
	padding-top: 82px;
	margin: 0 auto;
	display: flex;
}

.services-button {
	margin: 0;
	padding: 0;
	width: 280px;
}

.services-item {
	margin: 0;
	padding: 0;
	padding-left: 120px;
}

.partners {
	width: 1200px;
	margin: 0;
	padding: 95px 20px;
}

.partners-list {
	display: flex;
}

.main-container {
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer {
	min-width: 1200px;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 82px;
}

.footer-container {
	width: 1200px;
	margin: 0 auto;
	padding: 65px 20px;
}

.footer-columns {
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.social-container {
	width: 440px;
}

.footer-list {
	display: flex;
	justify-content: space-between;
}

.social-button-list {
	display: flex;
	justify-content: center;
}

.user-navigation-footer {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.catalog-header {
	margin-bottom: 38px;
}

.logo-catalog {
	padding: 0;
	padding-bottom: 35px;
	margin: 0;
}
 
.catalog-container {
	margin: 0;
	padding: 0;
	/*padding-left: 60px;*/
}

.catalog-container h1 {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	padding-left: 80px;
}

.breadcrumbs {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	padding-left: 80px;
	display: flex;
	justify-content: flex-start;
}

.aside {
	margin: 0;
	padding: 0;
	width: 270px;
}

.assortment-container {
	margin: 0;
	padding: 0;
	width: 830px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.assortment {
	display: flex;
	justify-content: flex-start;
}

.assortment-list {
	display: flex;
	justify-content: flex-start;
}

.assortment-switches {
	display: flex;
	justify-content: flex-end;
}

.catalog-list-item {
	width: 360px;
	min-height: 460px;
	margin-left: 40px;
	margin-bottom: 47px;
}

.catalog-list-item:nth-child(2n+1) {
	margin-left: 70px;
}

.catalog-list-item:nth-child(2n) {
	margin-right: 0px;
}

.catalog-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.pagination-list {
	padding: 0;
	margin: 0;
	width: 760px;
	margin-left: 70px;
	display: flex;
	justify-content: space-between;
}












   




 


   



   




   

   



   

   


